<!DOCTYPE html>
<html>

<head>
    <title>Successful Registration, Login With Your Credentials Below</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registersuccess.css">
    <link rel="icon" href='/static/images/favicon.ico' type='image/x-icon' />
</head>

<body>
    <div class="loginbox">
        <img src="/static/images/avatar.png" class="avatar">
        <h1>Successful Registration, Login With Your Credentials Below</h1>
        <a href="/login">
            <input type="submit" name="" value="Login">
        </a>
    </div>

</body>

</html>